click
cmake
colorama
contourpy==1.1.1
cycler
dlib
face-recognition
face-recognition-models
flask
fonttools
importlib-metadata
importlib-resources
imutils
itsdangerous
jinja2
joblib
kiwisolver
markupsafe
matplotlib
numpy
opencv-contrib-python
openssl
packaging
pandas
pillow
pip
pyparsing
python
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
sqlite
threadpoolctl
tzdata
vc
vs2015_runtime
werkzeug
wheel
zipp
gunicorn
ca-certificates
