
click
cmake==3.25.2
dlib==19.24.2
colorama
contourpy==1.1.1
cycler
face-recognition
flask
fonttools
importlib-metadata
importlib-resources
imutils
itsdangerous
jinja2
joblib
kiwisolver
markupsafe
matplotlib
numpy
python-dateutil
opencv-contrib-python
pyopenssl
packaging
pandas
pillow
pyparsing
pytz
scikit-learn
scipy
setuptools
six
threadpoolctl
tzdata
vc
werkzeug
wheel
zipp
gunicorn
